*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
body{
    background: linear-gradient(to left, rgb(245, 30, 26),rgb(12, 246, 227));
}
.calculator{
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: minmax(140px, auto) repeat(5,120px);
}
button{
    cursor: pointer;
    font-size: 24px;
    border: 1px solid black;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.number{
    border: 2px solid aqua;
}
.operation, .allclear, .equals,.delete{
    border: 2px solid rgb(245, 30, 26);
}
button:hover{
    background-color: rgba(1, 6, 1, 0.85);;
}
#big{
    grid-column: span 2;
}
.output{
    padding: 12px;
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.70);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}
.prevop{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.70);
}
.currop{
    font-size: 36px;
    color: rgba(255, 255, 255);
}